// Define variable defaults
$body-bg: rgb(254, 254, 254);
$body-color: #111;

// Then import Bootstrap an BootstrapVue SCSS files (order is important)
@import '../node_modules/bootstrap/scss/bootstrap.scss';
// @import '../node_modules/bootstrap-vue/src/index.scss';


.div{
    background-color: black;
}